<div class="container logout">
    {{!-- first row --}}
    <div class="row">
        <div class="col ">
            <p class="log">
                <span>Hello {{user}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Logout
                    <i class="bi bi-house"></i>
                </a>
            </p>
        </div>
    </div>
    {{!-- end first row --}}

</div> {{!-- end container --}}

{{!-- second row --}}

<h2>List of News</h2>


<div class="col newBtn px-5">
    <a href="/admin/news/add" class="btn btn-xl btn-success">
        <i class="bi bi-plus">New</i>
    </a>
</div>

<div class="row newslist">
    <div class="col">
        <table class="table table-dark table-striped-columns">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th class="px-4" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{title}}</td>
                    <td>{{{image}}}</td>
                    <td class="bott">
                        <a href="/admin/news/delete/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a href="/admin/news/edit/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>